[submodule "odoo-argentina"]
	path = odoo-argentina
	url = https://github.com/ctmil/odoo-argentina
	branch = 13.0
[submodule "miscellaneous"]
	path = miscellaneous
	url = https://github.com/ctmil/miscellaneous
	branch = 13.0
[submodule "account-payment"]
	path = account-payment
	url = https://github.com/ctmil/account-payment
	branch = 13.0
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = https://github.com/ctmil/account-financial-tools
	branch = 13.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = https://github.com/OCA/reporting-engine
	branch = 13.0
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/OCA/partner-contact
	branch = 13.0
